body {
  margin: 0;
  box-sizing: border-box;
}

.header-background {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: #fcfbfa;
  opacity: 0.8;
  height: 75px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.header-logo img {
  width: 180px;
  height: auto;
}

body {
  background-image: url("/images/0*PVPtTjkWLd2zYT46.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  min-height: 100vh;
}

.cta {
    background-color: blanchedalmond;
    max-width: 500px;
    border-radius: 16px;
    padding-left: 30px;

}